.App {
    margin-left: 25vw;
    margin-right: 25vw;
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
}
.spinner {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    box-sizing: border-box;

    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent;
    animation: rotate 1s linear infinite;
}
